<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>{{name}} | {{title}}</title>
</head>
<body>
    {{>header}}
    
    <div class="errorWrapper">
        <h1>
            404
        </h1>
        <p>
            Error 404 Page not found!!
        </p>
    </div>

    {{!-- {{>footer}} --}}
</body>
</html>