    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
    <script src="https://use.fontawesome.com/a2cde2054c.js"></script>
 
    <title>{{name}} | {{title}}</title>
</head>
<body>
    {{>header}}

    <script>
        document.getElementById("aboutNavLink").style.color = "white";
    </script>
    
    <div class="aboutWrapper">
        <img src="img\about.jpg" alt="">
        <h2>Hi, My name is</h2>
        <h1>Ethan Dsouza</h1>
        <h1 style="color: grey">Software Developer</h1>
        <h2 style="color: grey">Tech enthusiast and outdoors/adventure lover.

            Feel free to look around and drop me a message!
        </h2>
        <div class="homeLinks">
            <a href="/projects">Projects</a>
            <a href="/experience">Experience</a>
            <a href="/contact">Contact me</a>
             {{!-- style="background-color: white; color: black; border: 0px" --}}
        </div>
        <a href="img/Resume.pdf" class="resumelink">RESUME</a>

        <div class="iconBar">
            <a class="icon" href="http://www.github.com/ethanjd">
                <i class="fas fa-github" style="color: black;"></i>
            </a>
            <a class="icon" href="http://www.linkedin.com/in/ethanjd">
                <i class="fas fa-linkedin" style="color: black;"></i>
            </a>
            <a class="icon" href="https://www.youtube.com/channel/UCIWwLY_UBlu9jr7IctrZp6w">
                <i class="fas fa-youtube" style="color: black;"></i>
            </a>
            <a class="icon" href="/contact">
                <i class="fas fa-envelope" style="color: black;"></i>
            </a>
    </div>
    </div>


    {{!-- {{>footer}} --}}
</body>
</html>