    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"> 
    <title>{{name}} | {{title}}</title>
</head>
<body>
    {{>header}}
    
    <div class="aboutWrapper">
        <img class="aboutImg" src="img\about.jpg" alt="">
        <h2>Hi, My name is</h2>
        <h1>Ethan Dsouza</h1>
        <h1 style="color: grey">Software Developer</h1>
        <h2 style="color: grey">Tech enthusiast and outdoors/adventure lover.

            Feel free to look around and drop me a message!
        </h2>
        <div class="homeLinks">
            <a href="/projects">Projects</a>
            <a href="/experience">Experience</a>
            <a href="/contact">Contact me</a>
        </div>
        <a href="img/Ethan Dsouza Resume.pdf" class="resumelink" download>
            <span style="display: inline-block; height:100%;">RESUME</span>
        </a>

        <div class="iconBar">
            <a class="icon" href="http://www.github.com/ethanjd">
                <img src="icons\github.png" alt="">
            </a>
            <a class="icon" href="http://www.linkedin.com/in/ethanjd">
                <img src="icons\linkedin.png" alt="">
            </a>
            <a class="icon" href="https://www.youtube.com/channel/UCIWwLY_UBlu9jr7IctrZp6w">
                <img src="icons\youtube.png" alt="">
            </a>
            <a class="icon" href="/contact">
                <img src="icons\email.png" alt="">
            </a>
        </div>
    </div>
</body>
</html>