<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{name}} | {{title}}</title>
</head>
<body>
    {{>header}}
    
    <div class="contactForm">
        <form action="">
            <div class="formElement">
                <label for="nameInput">Name</p>
                <input id="nameInput" type="text">
            </div>
            
            <div class="formElement">
                <label for="emailInput">Email</p>
                <input id="emailInput" type="email" pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/g">
            </div>
            
            <div class="formElement">
                <label for="subjectInput">Subject</p>
                <input id="subjectInput" type="text">
            </div>

            <div class="formElement">
                <label for="messageInput">Message</p>
                <textarea id="messageInput" type="text" rows="5"></textarea>
            </div>
            
            <div class="formElement">
                <button>Submit</button>
            </div>
            
        </form>
    </div>
</body>
</html>