<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>{{name}} | {{title}}</title>
</head>
<body>
    {{>header}}

    <script>
            document.getElementById("experienceNavLink").style.color = "white";
    </script>

    <div class="experienceBody">
        <ul class="experienceList">
            <li class="experience">
                <div class="experienceInfo">
                    <img class="experienceLogo" src="img/experience/BTG logo.png" alt="">
                    <h1>Hoop Mountain Dubai</h1>
                    <h2>Digital Media Creator & Site supervisor</h2>
                    <h3>DUBAI, UAE // OCT 2020 - JUN 2021</h3>
                    <div class="experienceLinks">
                        <a href="https://www.linktr.ee/BridginTheGapPodcast">
                            <img src="icons/open-link.png" alt="">
                        </a>
                    </div>
                </div>
                <p>
                    Created digital media content such as graphics and animations for the company and the podcast hosted by the Head Coaches
                </p>
            </li>
            <li class="experience">
                <div class="experienceInfo">
                    <img class="experienceLogo" src="img/experience/camp202020_logo.png" alt="">
                    <h1>Camp 202020</h1>
                    <h2>General Operations</h2>
                    <h3>DUBAI, UAE // AUG 2020</h3>
                    <div class="experienceLinks">
                        <a href="https://beyondriyada.com/camp-202020/">
                            <img src="icons/open-link.png" alt="">
                        </a>
                    </div>
                </div>
                <p>
                    Assisted operations of the first online summer camp in Dubai, hosted virtual meetings and implemented plans/schedules throughout the weeks.
                </p>
            </li>
            <li class="experience">
                <div class="experienceInfo">
                    <img class="experienceLogo" src="img/experience/DSA_logo.png" alt="" style="background-color: black; padding: 10px;">
                    <h1>Dubai Sports Academies Online Forum</h1>
                    <h2>General Operations</h2>
                    <h3>DUBAI, UAE // JUN 2020</h3>
                    <div class="experienceLinks">
                        <a href="https://beyondriyada.com/forum-2/">
                            <img src="icons/open-link.png" alt="">
                        </a>

                    </div>
                </div>
                <p>
                    Assisted operations of the online sports summit including online broadcasting and coordinating multiple virtual rooms, along with training virtual hosts.
                </p>
            </li>
            <li class="experience">
                <div class="experienceInfo">
                    <img class="experienceLogo" src="img/experience/AngelHack_logo.png" alt="">
                    <h1>AngelHack 2018</h1>
                    <h2>Participant</h2>
                    <h3>DUBAI, UAE // AUG 2018</h3>
                    <div class="experienceLinks">
                        <a href="https://angelhack.com/ghs-2018-ah11/angelhack-dubai-hackathon-2018/">
                            <img src="icons/open-link.png" alt="">
                        </a>
                    </div>
                </div>
                <p>
                    Secured the Code4Impact prize for developing the pinAmeal application.
                </p>
            </li>
        </ul>
    </div>

    {{!-- {{>footer}} --}}
</body>
</html>