<html lang="en">
<head>
    <title>{{name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}

    <script>
        var roleArray = ["Web Developer", "Software Developer", "Mobile App Developer", "Game Developer", "3D Modeler"];
        var i = 0;
        
        function scrollRoles() {
            setTimeout(function() {
                document.getElementById("roleTitle").innerHTML = roleArray[i++];
                if(i == roleArray.length)   {
                    i = 0;
                }
                scrollRoles();
            }, 2000);
        }

        scrollRoles();
    </script>
    <div class="homeBody">
       <div class="homeTitle">
            <span class="nameTitle">
                Ethan D'souza
            </span>
            <div class="line"></div>
            <span id="roleTitle" class="roleTitle">
                Web Developer
            </span>
        </div> 
    </div>
    
</body>
</html>