<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <title>{{name}} | {{title}}</title>
    </head>
    <body>
        {{>header}}

        <script>
            document.getElementById("projectsNavLink").style.color = "white";
        </script>
        <div class="projectsBody">
            <ul class="projectsList">
                <li class="project">
                    <h1>Personal Website</h1>
                    <h2>Node.js, Express, Handlebars, HTML, CSS</h2>
                    <div class="projectButtons">
                        <a href="/about"></a>
                        <a href="https://github.com/ethanjd/Personal-Website"></a>
                    </div>
                    <p>
                        My personal website (This website!) hosted on Heroku, which serves as an online portfolio and shows updated information on my Career/Experience/Projects.
                    </p>
                </li>
                <li class="project">
                    <h1>GetPet</h1>
                    <h2>Androud Studio, Java, Firebase, Google AR</h2>
                    <div class="projectButtons">
                        <a href="/projects"></a>
                        <a href="/projects"></a>
                    </div>
                    <p>
                        An Android application that was built to streamline the pet adoption process. One of the major features is that it allows the users to interact with available pets in their homes via AR.
                    </p>
                </li>
                <li id="pinAmeal" class="project">
                    <h1>pinAmeal</h1>
                    <h2>Ionic Framework, Javascript, HTML, CSS</h2>
                    <div class="projectButtons">
                        <a href="/projects"></a>
                        <a href="https://github.com/ethanjd/pinAmeal"></a>
                    </div>
                    <p>
                        Mobile Application that encourages  users to donate meals to various participating restaurants by gamifying the action and displaying scores/leaderboards. Developed during AngelHack 2018 but not officially deployed.
                    </p>
                </li>
                <li class="project">
                    <h1>Student Sign</h1>
                    <h2>Android Studio, Java</h2>
                    <div class="projectButtons">
                        <a href="/projects"></a>
                        <a href="https://github.com/ethanjd/StudentSign-1"></a>
                    </div>
                    <p>
                        Android Application that utilized a blockchain system to create a petition application for students to communicate with the faculty to open enrolment opportunities.
                    </p>
                </li>
                <li class="project">
                    <h1>Sudoku Solver</h1>
                    <h2>Python</h2>
                    <div class="projectButtons">
                        <a href="/projects"></a>
                        <a href="/projects"></a>
                    </div>
                    <p>
                        A python based program that takes an unsolved sudoku puzzle as the input and returns the completed puzzle. Utilizes a backtracking algorithm.
                    </p>
                </li>
            </ul>
        </div>
    {{>footer}}
    
    </body>
</html>