
<div class="footer">
    <h3>
        STAY CONNECTED
    </h3>
    <div class="iconBar">
        <a class="icon" href="http://www.github.com/ethanjd">
            <img src="icons\github.png" alt="">
        </a>
        <a class="icon" href="http://www.linkedin.com/in/ethanjd">
            <img src="icons\linkedin.png" alt="">
        </a>
        <a class="icon" href="https://www.youtube.com/channel/UCIWwLY_UBlu9jr7IctrZp6w">
            <img src="icons\youtube.png" alt="">
        </a>
        <a class="icon" href="/contact">
            <img src="icons\email.png" alt="">
        </a>
    </div>
</div>