
<div class="footer">
    <h3>
        STAY CONNECTED
    </h3>
    <div class="iconBar">
    <a class="icon" href="http://www.github.com/ethanjd">
        <i class="fa fa-github-square fa-2x"></i>
    </a>
    <a class="icon" href="www.linkedin.com/in/ethanjd">
        <i class="fa fa-linkedin-square fa-2x"></i>
    </a>
    <a class="icon" href="https://www.youtube.com/channel/UCIWwLY_UBlu9jr7IctrZp6w">
        <i class="fa fa-youtube-square fa-2x"></i>
    </a>
    <a class="icon" href="/contact">
        <i class="fa fa-envelope-square fa-2x"></i>
    </a>
    </div>
</div>