<script>
  var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-80px";
  }
  prevScrollpos = currentScrollPos;
}
</script>

<div id="navbar" class="navigation-bar">
  <div id="linkBar" class="linkBar">
    <a id="homeNavLink" href="/">Home</a>
    <a id="projectsNavLink" href="/projects">Projects</a>
    <a id="contactNavLink" class="currentLink" href="/contact">Contact</a> 
  </div>
</div>

<div class="iconGrid">

</div>