<script>

function menuClick() {
  var x = document.getElementById("linkBar");

  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

<div id="navbar" class="navigation-bar">
  <a id="homeNavLink" href="/">Ethan Dsouza</a>
  <div id="linkBar" class="linkBar">
    <a id="projectsNavLink" href="/projects">Projects</a>
    <a id="experienceNavLink" href="/experience">Experience</a>
    <a id="contactNavLink" href="/contact">Contact</a> 
  </div>
  
  <a href="javascript:void(0);" class="menuBtn" onclick="menuClick()">
    <img src="icons\menu.png" alt="">
  </a>
</div>
<div style="height: 60px;"></div>

