*, *::before, *::after{
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

html {
    margin: 0;
}

body {
    margin: 0;
    font-family: Trebuchet, monospace, sans-serif;
    background-color: #000;
}

.navigation-bar {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    margin: 0px;
    overflow: hidden;
    box-shadow: 0px 2px 10px black;
    transition: height 3s;
}

.navigation-bar #linkBar {
    display: none;
}

.navigation-bar span {
    width: 330px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-bar a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #535353;
    margin-left: 15px;
    margin-right: 15px;
    padding: 14px 16px;
    text-align: left;
    display: block;
}

.currentLink {
    text-decoration: none;
    font-family: Trebuchet, monospace, sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}


.navigation-bar table {
    float: right;
    vertical-align: middle;
    border-spacing: 1px;
    margin: 0;
}

.navigation-bar .menuBtn {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.footer {
    width: 100%;
    background-color: #353535;
    padding: 20px;
    position: relative;
    bottom: 0;
}

.footer h3 {
    text-align: center;
    color: white;
}

.icon {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.iconBar {
    width: 50%;
    max-width: 400px;
    margin: 4px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.iconBar a {
    text-decoration: none;
    color: white;
    margin: 0;
}

.homeBody {
    height: calc(100% - 120px);
    display: flex;
    align-items: center;
}

#homeNavLink {
    color: white;
}

.homeTitle {
    width: 80%;
    margin: 0 auto;
    font-size: 7vw;
    display: flex;
    flex-flow: column nowrap;
    font-family: Trebuchet, monospace, sans-serif;
    color: white;
    font-style: normal;
    font-weight: normal;
}

.partitionTitle {
    width: 100px;
    text-align: center;
}

.nameTitle {
    margin: 0 auto;
    text-align: center;
}

.line {
    width: 50%;
    height: 3px;
    margin: 5px auto;
    background: #535353;
    transition-property: transform, width;
    transition-duration: 500ms;
}

.roleTitle {
    margin: 0 auto;
    text-align: center;
}

/* @media screen and (min-width: 768px) {
    .homeTitle {
        flex-flow: row nowrap;
        align-items: center;
    }
    
    .line {
        transform: rotate(-90deg);
        width: 10%;
    }
} */

/* About Page */

.aboutWrapper {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.aboutWrapper img {
    width: 80%;
    margin: 10vw 10%;
    /* margin-left: 10%; */
}

.aboutWrapper h2 {
    font-size: 1rem;
    text-align: left;
    color: white;
    font-weight: 300;
}

.aboutWrapper h1 {
    font-size: 2rem;
    color: white;
    text-align: left;
    font-weight: 400;
}

.homeLinks {
    margin: 1em 0em;
    display: flex;
    justify-content: space-around;
}

.homeLinks a {
    display: inline-block;
    color: #fff;
    background-color: #000;
    border: solid white 1px;
    padding: 0.4em 0.8em;
    font-size: 0.9rem;
    border-radius: 31.5px;
    text-decoration: none;
    text-align: center;
}


/*Projects Page*/

.projectsBody {
    margin-top: 80px;
}

.projectNavigator {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-spacing: 20px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.projectNavigator li {
    width:fit-content;
    height: 40px;
    line-height: 20px;
    padding: 5px;
    border: grey solid 1px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: Trebuchet, monospace, sans-serif;
}

.projectNavigator li a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: white;
}

.projectNavigator li a:visited {
    color: white;
}

.showcase {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    /* display:block;
    width: 100%;
    padding: 0;
    margin: 0;
    width: 100%; */
}

.showcase-item {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: #353535;
    align-self: flex-start;
    /* display: inline-block;
    margin: 10px;
    width: 25%;
    text-align: center; */
}

model-viewer {
    width: 100%;
    height: 100%;
}

/* @media (min-width: 959px) {
    .showcase-item {
        width: 33%;
        height: 100%;
    }
}

@media (max-width: 958px) and (min-width: 501px) {
    .showcase-item {
        width: 47%;
        height: 100%;
    }
}

@media (max-width: 500px) {
    .showcase-item {
        width: 100%;
        height: 100%;
    }
} */

/* Experience Page */

.contentWrapper {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    list-style-type: none;
}

.separator {
    width: 90%;
    height: 3px;
    background: #535353;
    margin: 10% auto;
}

li + li {
    border-top: 3px solid #535353;
}

.experienceList {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.experienceList li {
    padding: 1rem 0;
    display: block;
}

.experienceList .overlay {
    width: 80%;
    max-width: 600px;
    display: none;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: #535353;
}

.experienceList img {
    display: block;
    width: 50%;
    margin: 5% auto;
    border: 2px solid white;
}

.experienceList h2 {
    margin: 0;
    text-align: center;
}

.experienceList h3 {
    margin: 0;
    text-align: center;
    color: #535353;
}

/*Contact Page*/

.formWrapper {
    width: 100vw;
    height: calc(100vh - 130px);
    padding-top: 50px;
}

.contactForm {
    width: 80%;
    max-width: 600px;
    margin: auto;    
    display: flex;
    flex-flow: column wrap;
}

.contactForm h1{
    font-family: Trebuchet, monospace, sans-serif;
    color: white;
    margin: 0;
    margin-left: 5px;
}
.contactForm h3 {
    font-family: Trebuchet, monospace, sans-serif;
    color: white;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 5px;
}

.contactForm form {
    width: 100%;
    margin: 0; 
}

.formElement {
    width: 100%; 
    margin-bottom: 45px;
}

.formElement label {
    font-family: Trebuchet, monospace, sans-serif;
    margin-left: 5px;
    color: white;
}

.formElement input {
    width: 100%;
    background-color: #535353;
    color: white;
    border: 2px solid #282C34;
    border-radius: 5px;
    padding: 10px;
}

.formElement input:invalid:focus {
    width: 100%;
    border: 2px solid #fd6f6f81;
    border-radius: 5px;
    padding: 10px;
}

.formElement textarea {
    width: 100%;
    background-color: #535353;
    color: white;
    border: 2px solid #282C34;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.formElement textarea:invalid:focus {
    width: 100%;
    border: 2px solid #fd6f6f81;
    border-radius: 5px;
    padding: 10px;
}

.formElement button {
    background-color: white;
    color: #535353;
    width: 100px;
    padding: 15px 0px;
    margin-left: calc(50% - 50px);
    border: 0px;
    border-radius: 5px;
    font-family: Trebuchet, monospace, sans-serif;
    font-size: large;
    font-weight: bold; 
    cursor: pointer;
    transition-duration: 200ms;
}

.formElement button:hover {
    background-color: #535353;
    color: white;
}

.formElement input:focus, .formElement textarea:focus, .formElement button:focus {
    outline: none;
}

/* 404 */
.errorWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorWrapper h1 {
    font-family: Trebuchet, monospace, sans-serif;
    color: white;
    font-size: 3.5rem;
}

.errorWrapper p {
    font-family: Trebuchet, monospace, sans-serif;
    color: white;
    font-size: 1.5rem;
}